[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "odeintr"]
	path = odeintr
	url = https://github.com/thk686/odeintr
[submodule "strider"]
	path = strider
	url = https://github.com/thk686/strider
